<div class="container-fluid">
		<h2>Welcome to Cattle Barn</h2>
		<table class="table-striped table-bordered home-tayble">
  <thead>
    <tr>
      <th style="padding:10px;">Type</th>
      <th style="padding:10px;">Active</th>
      <th style="padding:10px;">Inactive</th>
        <th style="padding:10px;">Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding:10px;"><a href="#/bulls-index">Bulls</a></td>
      <td style="padding:10px;">23</td>
       <td style="padding:10px;">23</td>
         <td style="padding:10px;">23</td>
         
    </tr>
    <tr>
      <td style="padding:10px;">Calves</td>
      <td style="padding:10px;">23</td>
       <td style="padding:10px;">23</td>
         <td style="padding:10px;">23</td>
    </tr>
    <tr>
      <td style="padding:10px;">Steers</td>
      <td style="padding:10px;">23</td>
       <td style="padding:10px;">23</td>
         <td style="padding:10px;">23</td>
    </tr>
    
    <tr>
      <td style="padding:10px;">Cows</td>
      <td style="padding:10px;">23</td>
       <td style="padding:10px;">23</td>
         <td style="padding:10px;">23</td>
    </tr>
      <tr>
      <td style="padding:10px;">Heifers</td>
      <td style="padding:10px;">23</td>
       <td style="padding:10px;">23</td>
         <td style="padding:10px;">23</td>
    </tr>
  </tbody>
</table>
	</div>