<div class="container-fluid">
		<h2>Welcome to Cattle Barn</h2>
		<table class="table-striped table-bordered home-tayble">
  <thead>
    <tr>
      <th>Type</th>
      <th>Active</th>
      <th>Inactive</th>
        <th>Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bulls</td>
      <td>23</td>
       <td>23</td>
         <td>23</td>
         
    </tr>
    <tr>
      <td>Calves</td>
      <td>23</td>
       <td>23</td>
         <td>23</td>
    </tr>
    <tr>
      <td>Steers</td>
      <td>23</td>
       <td>23</td>
         <td>23</td>
    </tr>
    
    <tr>
      <td>Cows</td>
      <td>23</td>
       <td>23</td>
         <td>23</td>
    </tr>
      <tr>
      <td>Heifers</td>
      <td>23</td>
       <td>23</td>
         <td>23</td>
    </tr>
  </tbody>
</table>
	</div>