<!DOCTYPE html>
   <html lang="en" ng-app="cattleBarn">
   <head>
	<title>Bulls Offspring</title> </head>
	<body>

	       <div class="container-fluid">
	       <div style="padding-left:15px; font-size:larger;" class="row">
	       		<strong>Editing Bull: {{bulls.name}}</strong>
	       		</div>	
		       <div class="row">
			       	<ul class="nav nav-tabs">
			       	  <li class="nav-item">
					    <a class="nav-link" href="#/bulls/{{bullId}}">Home</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link active" href="#/bulls/mortality/{{bullId}}">Mortality/Carcass</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#/bulls/med-meas/{{bullId}}">Med/Measurements</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#/bulls/offspring/{{bullId}}">Offspring</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link href="#">Breeding</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">EPD</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link href="#">Semen</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Pics</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link href="#">Pedigree</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Bloodlines</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link href="#">Show</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link href="#">Notes/Documents</a>
					  </li>
					</ul>
				</div>
				<div class="row">
					 <div style="margin:15px;" class="container-fluid">
	      			  <div style="font-size:larger; padding:5px; background-color:#eeeeee; margin-bottom:15px;" class="row">
	      			  <span><strong>Offspring</strong></span>
	      			  </div>
				      <div style="margin-top:10px;" class="row">
						  <div class="md-col-12">
							<center>
							<table style="padding:10px; width:100%;" class="table-striped table-bordered home-tayble">
							  <thead>
							    <tr>
							      <th style="padding:10px;">Name</th>
							      <th style="padding:10px;">Reg. #</th> 
							      <th style="padding:10px;">Ear Tag</th>
							      <th style="padding:10px;">Other ID</th>
							      <th style="padding:10px;">Color</th>
							      <th style="padding:10px;">DOB</th>
							      <th style="padding:10px;">Breeding Type</th>
							      <th style="padding:10px;">Sex</th>
							      <th style="padding:10px;">Birth Weight</th>
							      <th style="padding:10px;">Dam Name</th>
							      <th style="padding:10px;">Receipt Donor/I.D.</th>
							      
							      <th style="padding:10px;"></th>
							      <th style="padding:10px;"></th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="med in medList">
							      <td style="padding:10px;">{{med.treatdate}}</td>
							      <td style="padding:10px;">{{med.proc}}</td>
							      <td style="padding:10px;">{{med.treatdate}}</td>
							      <td style="padding:10px;">{{med.proc}}</td>
							      <td style="padding:10px;">{{med.treatdate}}</td>
							      <td style="padding:10px;">{{med.proc}}</td>
							      <td style="padding:10px;">{{med.treatdate}}</td>
							      <td style="padding:10px;">{{med.proc}}</td>
							      <td style="padding:10px;">{{med.treatdate}}</td>
							      <td style="padding:10px;">{{med.proc}}</td>
							      <td style="padding:10px;">{{med.treatdate}}</td>
							     	
							      <td style="padding:10px;"><button ng-click="deleteMedTreat()" class="btn btn-sm btn-default pull-right">Delete</button></td>
							      <td style="padding:10px;"><button ng-click="editMedTreat()" class="btn btn-sm btn-default pull-right">Edit</button></td>		
							    </tr> 
							  </tbody>
							</table>
		                   </center>
		                   </div>
						</div>
    				</div><!--container-->
				</div>
		</div>

			
	 </body>

</html>