<!DOCTYPE html>
   <html lang="en" ng-app="cattleBarn">
   <head>
	<title>Calves</title> </head>
	<body>

	       <div class="container-fluid">
	        <ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Mortality/Carcass</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Med/Measurements</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Feed</a>
			  </li>
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#">EPD</a>
			  </li>
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#">Pics</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link href="#">Pedigree</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Bloodlines</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link href="#">Show</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link href="#">Notes/Documents</a>
			  </li>
			</ul>
		<h1>Calves Page</h1>
	</div>

	 </body>

</html>