<!DOCTYPE html>
   <html lang="en" ng-app="cattleBarn">
   <head>
	<title>Add New Bull</title> </head>
	<body>

	       <div style="margin:15px;" class="container-fluid">
	       
		<h1>Add New Bull</h1>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>
              Name
            </label>
            <input type="text" class="form-control" ng-model="bulls.name" name="bull-name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Reg.#
            </label>
            <input type="text" class="form-control" ng-model="bulls.regnum" name="reg-num">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>
              D.O.B.
            </label>
            <input type="text" class="form-control" ng-model="bulls.dob" name="dob">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>
              Birth Weight
              <br>
            </label>
            <input type="text" class="form-control" ng-model="bulls.birthweight" name="birth-weight">
          </div>
        </div>
      </div>
      <div class="form-group">
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Breed
            </label>
            <select class="form-control" id="breed" ng-model="bulls.breed" name="ddBreed">
              <option value="breed1">
                Breed1
              </option>
              <option value="breed2">
                Breed2
              </option>
              <option value="breed3">
                Breed3
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Color
            </label>
            <input type="text" class="form-control" ng-model="bulls.color" id="color" name="color">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Special Markings
            </label>
            <input type="text" ng-model="bulls.specialmarkings" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              <label class="radio" id="eximp">
                <input type="radio" ng-model="bulls.expimp" value="exported">
                Exported
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio" id="eximp">
                <input type="radio" ng-model="bulls.expimp" value="imported">
                Imported
              </label>
            </div>
            <div class="col-md-4" style="display: none;">
              <h3>
                Span 4
              </h3>
              <p>
                Content
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Ear Tag
            </label>
            <input type="text" class="form-control" ng-model="bulls.eartag" name="eartag" id="eartag">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Location
            </label>
            <select class="form-control" ng-model="bulls.eartaglocation" >
              <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Brand Number
            </label>
            <input type="text" class="form-control" ng-model="bulls.brandnum" id="brandnum" name="brandnum">
          </div>
        </div>
        <div class="col-md-3">
          <label>
            Location
          </label>
          <select class="form-control" ng-model="bulls.brandlocation" >
            <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Tattoo
            </label>
            <input type="text" class="form-control" ng-model="bulls.tattoo" name="tattoo" id="tattoo">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Location
            </label>
            <select class="form-control" ng-model="bulls.tattoolocation">
              <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Electronic ID
            </label>
            <input type="text" class="form-control" ng-model="bulls.electronicid" id="electronic-id" name="electronic-id">
          </div>
        </div>
        <div class="col-md-3">
          <label>
            Location
          </label>
          <select class="form-control" ng-model="bulls.electronicidlocation" >
            <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Other ID
            </label>
            <input type="text" class="form-control" ng-model="bulls.otherid" name="other-id" id="other-id">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Location
            </label>
            <select class="form-control" ng-model="bulls.otheridlocation" >
             <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Metal ID
            </label>
            <input type="text" class="form-control" ng-model="bulls.metalid" id="metal-id" name="metal-id">
          </div>
        </div>
        <div class="col-md-3">
          <label>
            Location
          </label>
          <select class="form-control" ng-model="bulls.metalidlocation" >
            <option value="loc1">
                loc1
              </option>
              <option value="loc2">
                loc2
              </option>
              <option value="loc3">
                loc3
              </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Genetic/Donor DAM
            </label>
          </div>
          <select class="form-control" id="ddDonor" ng-model="bulls.geneticdonor" >
            <option value="gen1">
              gen1
            </option>
            <option value="gen2">
              gen2
            </option>
            <option value="gen3">
              gen3
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Bloodline
            </label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="bloodline" ng-model="bulls.bloodline" name="bloodline">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Sibling Code
            </label>
          </div>
          <select class="form-control" id="ddSiblingCode" ng-model="bulls.siblingcode" name="ddSiblingCode">
            <option value="scode1">
              scode1
            </option>
            <option value="scode2">
              scode2
            </option>
            <option value="scode3">
              scode3
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <label>
            Cloned
          </label>
          <select class="form-control" id="ddCloned" ng-model="bulls.cloned" name="ddCloned">
            <option value="clone1">
              clone1
            </option>
            <option value="clone2">
              clone2
            </option>
            <option value="clone3">
              clone3
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div  class="col-md-6">
          
          <div style="padding:10px;" class="row">
            <div class="col-md-4">
              <label class="checkbox">
                <input type="checkbox">
                Show Animal
              </label>
            </div>
            <div class="col-md-4">
              <label class="checkbox">
                <input type="checkbox">
                AI Bull
              </label>
            </div>
            <div class="col-md-4">
              <label class="checkbox">
                <input type="checkbox">
                Reference
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label>
            Horn Status
          </label>
          <select class="form-control" id="ddHornStatus" ng-model="bulls.hornstatus" name="ddHornStatus">
            <option value="hstatus1">
              hstatus1
            </option>
            <option value="hstatus2">
              hstatus2
            </option>
            <option value="hstatus3">
              hstatus3
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Pasture
            </label>
            <input type="text" class="form-control" id="pasture" ng-model="bulls.pasture" name="pasture">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>
          </label>
          <div class="form-group">
            <label>
              Pen
            </label>
            <input type="text" class="form-control" id="pen" ng-model="bulls.pen" name="pen">
          </div>
        </div>
        <div class="col-md-4">
          <label class="radio">
            <input ng-model="bulls.bornpurch" value="born" type="radio">
            Born
          </label>
          <label class="radio">
            <input ng-model="bulls.bornpurch" value="purchased" type="radio">
            Purchased
          </label>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              Purchased From
            </label>
            <input type="text" class="form-control" ng-model="bulls.purchasedfrom">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Purchase Date
            </label>
            <input type="text" class="form-control" ng-model="bulls.purchasedate"  name="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Price
            </label>
            <input type="text" class="form-control" ng-model="bulls.purchaseprice" name="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Breeder
            </label>
            <input type="text" class="form-control" ng-model="bulls.breeder" name="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Image &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <br>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>
              Current Owner of Bull
            </label>
            <input type="text" ng-model="bulls.bullowner" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              Bull's Sire
            </label>
            <input type="text" ng-model="bulls.bullsire" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              Bull's Dam
            </label>
            <input type="text" ng-model="bulls.bullsdam" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              Comments
            </label>
            <textarea ng-model="bulls.comments" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-2">
               <button ng-click="save()" class="btn btn-default">Save</button>
              </div>
              <div class="col-md-2">
               <button ng-click="cancel()" class="btn btn-default">Cancel</button>
              </div>
              <div class="col-md-2">
                <button ng-click="clear()" class="btn btn-default">Clear</button>
              </div>
           </div>
        </div>
      </div>
    </div><!--container-->
	

	 </body>

</html>